h1{
    font-size: 45px;
    line-height: 45px;
}
p{
    font-size: 20px;
    color: rgb(53, 52, 52);
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
    color: #FF6C5A;
}
.button{
    text-decoration: none;
    background-color: #FF6C5A;
    padding: 2.5% 7%;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 50px;
    

}
.btn{
    margin-bottom: 7%;
    margin-top: -4%;
}
.scrl{
    margin-top: 10%;
    color: rgb(148, 145, 145);
}
.stay{
    border-left: 3px solid;
    border-image-slice: 1;
    border-color: #FF6C5A;
    padding-left: 2%;
    border-radius: 4px;
}
.sec1{
    display: flex;
    padding-top: 5%;
}
.box1{
    width: 50%;
    padding-left: 7%;
    margin-bottom: 2%;
    padding-right: 7%;
    
}
.box1 img{
    width: 70%;
    padding-left: 2%;
}
.yellow{
    color: #FF6C5A;
}
h2{
    color: #13103A;
    font-size: 45px;
    font-weight: 800;
}
.mid{
    text-align: center;

}
.sec2{
    display: flex;
    justify-content: center;
}
#illus1{
    width: 25%;
    
    background-color: #45878e4b;
    
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    border-radius: 15px;
    
}
#illus1 img{
    width: 55%;
}
#illus2{
    width: 25%;
    
    background-color: #ff59593a;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    border-radius: 15px;
}
#illus2 img{
    width: 55%;
}
#illus3{
    width: 25%;
    
    background-color: #FFF4D6;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    
    border-radius: 15px;
}
#illus3 img{
    width: 55%;
    
}
h5{
    font-size: 25px;
}
h3{
    font-size: 35px;
}
.sec3{
    display: flex;
    margin-top: 6%;
}
.sec4{
    display: flex;
    margin-top: 8%;
}
.foot{
    background-color: black;
    color: white;
    text-align: center;
    height: 175px;
}
.footcolor{
    color: #FF5959;
}
h4{
    font-size: 35px;
    padding-top: 2%;
}
.foot p{
    
    font-size: 15px;
    color: white;
}
.footmission{
    margin-top: 6%;
}